.projects-section {
    text-align: center;
    margin: 20px;
    width: 100%;  /* Limit the width of the content */
    margin: 0 auto;     /* Center it horizontally */
    padding: 20px;  
    background-color: beige;
    /* align-items: center;
    display: flex;
    flex-direction: column; */
    
  }
  
  .project-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .project-tabs button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .project-tabs button.active {
    background-color: #a3e635; /* Greenish color when active */
    color: #fff;
  }
  
  .project-tabs button:hover {
    background-color: #a3e635;
    color: #fff;
  }
  
  .project-content {
    
    max-width: 800px;   /* Limit the width of the content */
    margin: 0 auto;     /* Center it horizontally */
    padding: 20px;
    background-color: #f5f5f5; /* Optional: Background color for the content */
    border-radius: 10px; /* Optional: Rounded corners for a clean look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow to give a card-like effect */
  }

  .project-content p {
    font-size: 1rem; /* Adjust font size */
    line-height: 1.6; /* Adjust line height for better readability */
    margin-bottom: 20px; /* Add some space after the description */
    word-wrap: break-word; /* Break long words if necessary */
    max-width: 100%;    
}
  
  .project-images img {
    max-width: 200px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .project-images {
    display: flex;
    gap: 10px; /* Space between images */
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-images img:hover {
    transform: scale(2.7); /* Enlarge image on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
    z-index: 10;
  }
  
  
  
  .project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Add space between cards */
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  
  .card-content {
    margin-top: 15px;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
  }
  
  .card-content p {
    color: #666;
  }